<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368988567979-qiglkdmurnmums15hnc6rm9panphqba2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368988567979-qiglkdmurnmums15hnc6rm9panphqba2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368988567979-024jm9qsa4qmuse659omcc3ovgekfs2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEgkjiQz7-8q_c7gvMegFfCSEMszhawt8</string>
	<key>GCM_SENDER_ID</key>
	<string>368988567979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fixhowguests.Makola</string>
	<key>PROJECT_ID</key>
	<string>mokola-74591</string>
	<key>STORAGE_BUCKET</key>
	<string>mokola-74591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368988567979:ios:7102b94537340b7fe37aee</string>
</dict>
</plist>